<div class="border-style mx-auto">
    <div style="text-align: center;" class="mb-4">
        <img src="../../assets/finPlanner.png" width="80" height="80" alt="fin Logo" />
    </div>
    <form class="justify-content-center align-items-center style-login">
        <div class="form-group col-sm-12">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group col-sm-12">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary button-style" style="justify-content: center;">Submit</button>
    </form>
</div>
